ul.erla-accordion {

    font-family: sans-serif;
    font-size: 1.2em;
    background-color: transparent;
    margin: 5px;
    list-style-type: none;
    padding-left: 0;

    ul {
        background-color: #444359;
        color: #ddd;

        -moz-transition: height .3s;
        -ms-transition: height .3s;
        -o-transition: height .3s;
        -webkit-transition: height .3s;
        transition: height .3s;

        height: 0;
        list-style-type: none;
        padding-left: 0;

        .expander {
            color: #ccc;
        }

        .expander.expanded {
            color: #ffffff;
        }

        ul {
            background-color: rgba(0, 0, 0, 0.2);
            color: #ccc;
        }
    }

    li {
        overflow: hidden;

        .content {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            transition: all 0.15s;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            position: relative;
            color: #a1a1a182;
        }

        .content:hover {
            color: #ffffff;
        }

        .content.selected {
            font-weight: bold;
        }
    }

    .expander {
        width: 35px;
        height: 100%;
       
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0;
        padding-top: 7px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;
        font-size:14px;
    
    }

    .notransition {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }

    .expanded {

        color: #ffffff;
    }

}