* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

:root {
  --primary-color: #0a0a0b71;
  --secondary-color: #000;
  --grey-color: #0c0c0c30;
  --text-color: #2b2a2a;
  --white-color: #fff;
  --main-font: 'Inter';
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-30: 30px;
  --fs-36: 36px;
  --fs-40: 40px;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --padding-left: 12px;
  --padding-right: 12px;
  --lh: 1.5;
}

.w-1 {
  width: 8.33%;
}

.w-2 {
  width: 16.66%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.33%;
}

.w-5 {
  width: 41.66%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.33%;
}

.w-8 {
  width: 66.66%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.33%;
}

.w-11 {
  width: 91.66%;
}

.w-12 {
  width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

body {
  color: var(--secondary-color);
  font-family: var(--main-font);
}

/* sidebar start */

.sidebar {
  background-color: var(--text-color);
  max-width: 250px;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.logo {
  padding: 16px 24px 24px;
}

.logo a img {
  width: 76px;
}
.sidebar ul li .dashboard-icon i{
  width: 20px;
  color: var(--white-color);
}
.dashboard-icon{
  color:var(--white-color);
  font-size: var(--fs-15);
  padding: 8px 24px;
}
.pages p{
  font-size: var(--fs-12);
  color:#454f5b;
  padding:16px 24px;   
}
.erla-accordion{
  padding-left: 12px;
}
p{
  margin: 0
}
.content i{
  margin-right: 10px;
  font-size: var(--fs-12);
}
::-webkit-scrollbar{
  width: 0;
}
/* sidebar end */
/* navbar start */
.toggle {
  color: var(--grey-color);
  padding-right: 10px;
}

.navbar {
  width: 100%;
  margin: 0;
  min-height: 0;
}

.search-box {

  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon_wrap {
  color: var(--grey-color);

}

.search-input {

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 8px 16px;
  background-color: var(--white-color);
  border: 1px solid #6c6c6c7a;
  color: #6c6c6c;
  border-radius: 6px;
  transition: all .4s;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -45px;
  border: none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline: none;
  color: black;
}

.navbar .navbar_left .logo a {
  font-family: 'Trade Winds';
  font-size: 20px;
}

.navbar .navbar_right {
  display: flex;
}

.navbar .navbar_right img {
  width: 35px;
}

.navbar .navbar_right .icon_wrap {
  cursor: pointer;
}

.navbar .navbar_right .notifications {
  margin-right: 25px;
}

.navbar .navbar_right .notifications .icon_wrap {
  font-size: 28px;
}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications {
  position: relative;
}

.navbar-content {
  padding: 5px 24px;
}

.navbar-end {
  display: flex;
  align-items: center;
}

.navbar .profile .profile_dd,
.notification_dd {
  position: absolute;
  top: 48px;
  right: -15px;
  user-select: none;
  background: #fff;
  border: 1px solid #c7d8e2;
  width: 350px;
  height: auto;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
    -10px -10px 35px rgba(0, 0, 0, 0.125);
  z-index: 1;
}

.navbar .profile .profile_dd:before,
.notification_dd:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.notification_dd li {
  border-bottom: 1px solid #f1f2f4;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.notification_dd li .notify_icon {
  display: flex;
}

.notification_dd li .notify_icon .icon {
  display: inline-block;
  background: url('https://i.imgur.com/MVJNkqW.png') no-repeat 0 0;
  width: 40px;
  height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon {
  background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon {
  background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon {
  background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon {
  background-position: 0 -178px;
}

.notification_dd li .notify_data {
  margin: 0 15px;
  width: 185px;
}

.notification_dd li .notify_data .title {
  color: #000;
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.notification_dd li .notify_status p {
  font-size: 12px;
}

.notification_dd li.success .notify_status p {
  color: #47da89;
}

.notification_dd li.failed .notify_status p {
  color: #fb0001;
}

.notification_dd li.show_all {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.notification_dd li.show_all p {
  font-weight: 700;
  color: #3b80f9;
  cursor: pointer;
}

.notification_dd li.show_all p:hover {
  text-decoration: underline;
}

.navbar .navbar_right .profile .icon_wrap {
  display: flex;
  align-items: center;
}

.navbar .navbar_right .profile .name {
  display: inline-block;
  margin: 0 10px;
}

.navbar .navbar_right .icon_wrap:hover,
.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active .icon_wrap {
  color: #3b80f9;
}

.navbar .profile .profile_dd {
  width: 225px;
}

.navbar .profile .profile_dd:before {
  right: 10px;
}

.navbar .profile .profile_dd ul li {
  border-bottom: 1px solid #f1f2f4;
}

.navbar .profile .profile_dd ul li a {
  display: block;
  padding: 15px 35px;
  position: relative;
}

.navbar .profile .profile_dd ul li a .picon {
  display: inline-block;
  width: 30px;
}

.navbar .profile .profile_dd ul li a:hover {
  color: #3b80f9;
  background: #f0f5ff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
  background: transparent;
  cursor: default;
  color: #7f8db0;
}

.navbar .profile .profile_dd ul li .btn {
  height: 32px;
  padding: 7px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  background: #3b80f9;
  width: 125px;
  margin: 5px auto 15px;
}

.navbar .profile .profile_dd ul li .btn:hover {
  background: #6593e4;
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd {
  display: block;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  display: none;
}

.popup .shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.popup .inner_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.popup .notification_dd {
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before {
  display: none;
}

.popup .notification_dd li.title {
  font-weight: 700;
  color: #3b80f9;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover {
  opacity: 0.5;
}



/* menu toggle */

.menu-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  background: #000;
  box-shadow: 0 8px 0 #000,
    0 -8px 0 #000;
}

/* profile menu */

.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  text-align: end;
}

.profile h3 {
  text-align: end;
  line-height: 1;
  margin-bottom: 4px;
  font-weight: 600;
}

.profile p {
  line-height: 1;
  font-size: 14px;
  opacity: .6;
}

.profile .img-box {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* menu (the right one) */

.menu {
  position: absolute;
  top: 70px;
  right: 16px;
  width: 200px;
  min-height: 100px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 300ms;
  z-index: 1;
}

.menu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 14px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  z-index: -1;
}

.menu.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* menu links */

.menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: #fff;
}

.menu ul li {
  list-style: none;
}

.menu ul li:hover {
  background: #eee;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 6px;
}

.menu ul li a i {
  font-size: 1.2em;
}

.project {
  background-color: var(--primary-color);
  width: 100%;
  padding: 64px 24px 112px;
}

.project h2 {
  color: var(--white-color);
}

.project a {
  background-color: var(--white-color);
  color: var(--secondary-color);
  border-radius: 5px;
  padding: 8px 16px;
}

.project-box {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(151, 151, 151, 0.299);
  border-radius: 10px;
  transform: translateY(-50%);
}

.project-content {
  margin-bottom: 16px;
}

.project-content h3 {
  color: var(--text-color);
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
}

.project-model h2 {
  margin-bottom: 8px;
  font-size: var(--fs-36);
  color: var(--text-color);
}

.project-model p {
  font-size: var(--fs-15);
  color: var(--grey-color);
  font-family: var(--main-font);
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #e0dcfc;
  color: var(--primary-color);
  border-radius: 8px;
}

.content-area {
  margin-left: 250px;
}
/* navbar end */
/* active-project start */
.active-project {
  width: 100%;
  margin: 24px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(136, 136, 136, 0.298);
}
.active-project h2 {
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  border-bottom: 1px solid rgba(116, 116, 116, 0.315);
  padding: 20px;
  margin: 0;
}

table {
  width: 100%;
  color: #637381;
}

.icon-box {
  width: 42px;
  border: 1px solid rgba(152, 152, 152, 0.508);
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.icon-box img {
  position: absolute;
  width: 24px;
  left: 8px;
  top: 11px;
}

.active-project table tr td {
  border-bottom: 1px solid rgba(116, 116, 116, 0.315);
  padding: 12px 24px;
  font-size: var(--fs-15);
  font-weight: var(--fw-500);
}

.active-project table tr:first-child {
  background-color: #f1f5f9;
}

.active-project table tr td p {
  padding-left: 20px;
  font-size: var(--fs-15);
  font-weight: var(--fw-500);
  color: var(--secondary-color);
}

.active-project table tr td span {
  background-color: #f59e0b;
  color: var(--white-color);
  border-radius: 5px;
  font-size: var(--fs-11);
  padding: 3px 7px;
  font-weight: var(--fw-700);
}

.active-project table tr:nth-child(3) td span {
  background-color: #f50b0b;
}

.active-project table tr:nth-child(4) td span {
  background-color: #0ea5e9;
}

.active-project table tr:nth-child(6) td span {
  background-color: #198754;
}

.active-project table tr:nth-child(7) td span {
  background-color: #0ea5e9;
}

.active-project table tr td .avatar img {
  width: 32px;
  border-radius: 50%;
  position: absolute;
}

.active-project table tr td .avatar-gp {
  position: relative;
  left: 10px;
}

.active-project table tr td .avatar-gp .avatar img:first-child {
  left: 13px;
  z-index: 999;
}

.active-project table tr td .avatar-gp .avatar img:nth-child(2) {
  left: 26px;
  z-index: 999;
}

.active-project table tr td .avatar-gp .avatar img {
  transform: translateY(-15px);
}

.avatar img {
  border: 2px solid var(--white-color);
}

.active-project table tr td .avatar-gp .avatar span:last-child {
  position: absolute;
  width:32px;
  height: 32px;
  height: 32px;
  line-height: 23px;
  left: 39px;
  top: -15px;
  z-index: 999;
  border-radius: 50%;
  background-color:var(--primary-color);
  color: var(--white-color);
  display:flex ;
  align-items: center;
  border: 2px solid var(--white-color);
}

.active-project table tr td .avatar-gp .avatar span {
  align-items: center;
  font-weight: var(--fw-500);
  border: 2px solid var(--white-color);
}
.title h2{
  font-size: var(--fs-18);
  margin: 0;
}
.title i{
  padding: 20px;
}
.projects-1{
  padding: 10px 20px;
}
.projects-1 a{
  font-size: var(--fs-15);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--fw-400);
}
table{
  border-collapse: unset;
 
}
/* active-project end */
/* team project start */
.Progress .compalted{
  padding: 0px 18px;
}
.team-project{
  width: 100%;
}
.team-project .Tasks-box{
  width:100%;
  height: 519px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(151, 151, 151, 0.299);
  padding: 20px;
  margin-bottom: 24px;
}
.team-project table tr:first-child{
  background-color: #f1f5f9;;
}
.Teams-box{
  width:100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(151, 151, 151, 0.299);
}
.Teams-box table{
  width: 100%;

}
.Teams-box h2 {
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  border-bottom: 1px solid rgba(116, 116, 116, 0.315);
  padding: 20px;
  margin: 0;
}
.Teams-box table tr td{
  border-bottom: 1px solid rgba(116, 116, 116, 0.315);
  padding: 12px 24px;
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  
}
.Teams-box table tr td img{
  width: 40px;
  height: 40px;
  border-radius: 50px;

}
.img-content h4{
  font-size: var(--fs-15);
  color: var(--secondary-color);
  padding-left:15px;
}
h4{
  margin: 0;
}
.img-content p{
  font-size: var(--fs-15);
  color: var(--grey-color);
  padding-left:15px;
}
.activity h4{
  font-size: var(--fs-15);
  color: var(--grey-color);
  font-weight: var(--fw-400);
}
.Role{
  padding: 10px 20px;
}
.footer{
  width: 100%;
  padding: 16px 32px;
  border-top: 1px solid #dcdcdc; ;
}
/* team project end */
.sidebar{
  transition: 1s;
}
.sidebar-edit{
  left: -50%!important;
}
.content-area{
  transition: 1s;
}
.content-area-edit{
  margin-left: 0!important;
}

.counter {
  width: 100px;
  height: 100px;
  background: rgb(25, 0, 255);
  border-radius: 50%;
  border: 2px solid rgb(96, 231, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: verdana;
  float: left;
  margin: 30px;
  text-shadow: 1px 1px black;
  box-shadow: 0px 0px 72px -9px rgba(129, 137, 198, 0.808);
}

h1{
  font-family: 'Roboto', sans-serif;
}

#changingText {
  color: #ffd166;
  border-right: 1px solid black;
  animation: cursoranim 1s linear infinite;
}

@keyframes cursoranim {
  50% {
    border-right: 1px solid rgba(0, 0, 0, 0);
  }
}

.header-fixed {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */

body {
	margin: 0;
	padding: 0;
	height: 1500px;
}